<div class="col-lg-6" id="member-details">
  <div class="card-body">
    <h3 class="fw-bold"><%= user.name %></h3>
    <p class="lead"><%= user.profile_title %></p>
    <p class="lead text-primary"><%= user.address %></p>

    <div id="user-connection-status">
      <% if user_signed_in? %>
        <% if current_user.check_if_already_connected?(user) %>
          <%= link_to "Connect", connections_path, class: "btn btn-primary", data: { controller: "connections", connections_target: "connection", requester_id: current_user.id, connected_id: user.id } %>
        <% elsif get_connection_status(user) == 'pending' %>
          <%= render "connections/create", connector: user %>
        <% elsif get_connection_status(user) == 'accepted' %>
          <button class="btn btn-success" type="button">Connected</button>
        <% elsif get_connection_status(user) == 'rejected' %>
        <button class="btn btn-danger" type="button">Rejected</button>
        <% end %>
      <% end %>
    </div>

    <% if @connections.present? %>
      <div id="connection-count">
        <%= link_to pluralize(@connections.count, 'Connection'), member_connections_path(user, mutual_connections: false) %>
      </div>
    <% end %>

    <% if current_user != @user %>
      <div id="mutual-connection-count">
        <%= link_to pluralize(@mutual_connections.count, 'Mutual Connection'), 'javascript:void(0)' %>
      </div>
    <% end %>
  </div>
</div>